.continent-card {
    background-color: #DD4681;
    max-width: 100%;
    border-radius: 20px;
}

.continent-card:nth-child(4n + 2),
.continent-card:nth-child(4n + 3) {
    background-color: #D04278;
}