@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Lato&family=Poppins&display=swap');

body {
  margin: 0;
  background-color: #e84c8f;
}

.navContainer {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  background-color: #b03d6a;
  border-radius: 15px;
  margin: 0 30px 20px 30px;
  font-family: 'Lato', sans-serif;
  align-content: center;
}

.backButton {
  color: #faf6fb;
}

.title {
  justify-self: center;
  color: #faf6fb;
  padding-bottom: 55px;
}

.globeDetails {
  display: flex;
  justify-content: center;
  background-color: #d9467c;
  padding-top: 20px;
  border-radius: 15px;
  margin: 0 30px;
}

.globe {
  font-size: 100px;
}

.count {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  font-family: 'Lato', sans-serif;
  color: #faf6fb;
}

.continentContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
  margin: 0 30px;
}

.continentImage {
  max-width: 300px;
  max-height: 300px;
  opacity: 0.5;
}

.arrowButton {
  display: flex;
  align-self: flex-start;
  font-family: 'Lato', sans-serif;
  color: #faf6fb;
}

.continentText {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-family: 'Lato', sans-serif;
  color: #faf6fb;
}

.continentDetails {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.continentCount {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  font-family: 'Lato', sans-serif;
  color: #faf6fb;
}

.countryContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 40px 0;
  background-repeat: no-repeat;
  margin: 0 30px;
  font-family: 'Lato', sans-serif;
  color: #faf6fb;
}

.countryDetails {
  background-repeat: no-repeat;
  border-radius: 15px;
  padding-left: 70%;
}

.countryCount {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

ul,
ol {
  list-style: none;
}
